html {
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    background-color: #333;
    color: white;
    padding: 1em;
}
.friend {
    background-color: lightcyan;
    border: 1px solid black;
    margin-top: 3em;
}

.friend h3 {
    text-align:center;
}

.song-p {
    background-color: #333;
    color: white;
    padding: .75em;
}